<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<!-- <input type="checkbox" v-model="checked" id="checked"/>
			<label for="checked">选择状态：{{ checked }}</label> -->
			<input type="checkbox" v-model="checked" value="html" id="html"/>
			<label for="html">HTML</label>
			<br />
			<input type="checkbox" v-model="checked" value="js" id="js"/>
			<label for="js">JavaScript</label>
			<br />
			<input type="checkbox" v-model="checked" value="css" id="css"/>
			<label for="css">CSS</label>
			<br />
			<p>选择的选项是：{{checked}}</p>
		</div>
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					checked: ['html', 'css']
				},
				methods: {
					handleInput: function(e){
						this.message = e.target.value;
					}
				}
			})
		</script>
	</body>
</html>
